<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>About us</title>
</head>
<body>
    <div class="navbar">
        <nav>
            <ul>
                <li><a href="{{ url_for('Home') }}">Home</a></li>
                <li><a href="{{ url_for('About') }}">About</a</li>
                <li><a href="{{ url_for('services') }}">Services</a</li> 
                <li><a href="{{ url_for('sign') }}">Signup</a</li>
                <li><a href="{{ url_for('login2') }}">Login</a</li>
            </ul>
        </nav>
    </div>


    <div class="about">
        <h1>About Us</h1>
    </div>
    <div class="par">
        <p>Our smart plant watering system is designed to make it easy for you to care for your plants, even if you have a busy schedule.
           <br> With its innovative technology, the system provides the perfect amount of water for your plants to thrive, without overwatering or underwatering them.
           <br> You can customize the settings to suit the specific needs of your plants, and receive alerts on your phone if anything needs your attention. 
           <br> Our system also tracks environmental factors like temperature and humidity,and checks the soil moisture. 
           <br> With our smart plant watering system, you can enjoy healthy, vibrant plants all year round, without any of the guesswork.
        </p>
    </div>

    <div class="sensors">
        <div class="row">
                
            <div class="col">
                <div class="card card1">
                    <h5>Humidity</h5>
                    <p class="caption">
                        Humidity sensors can play an important role in a smart outdoor watering system by helping to ensure that plants 
                        receive the appropriate amount of water. These sensors measure the amount of moisture in the air and soil, and can communicate 
                        this information to the watering system. Using humidity sensors can help prevent overwatering, which can lead to root rot and 
                        other issues, as well as underwatering, which can cause plants to wilt and die. By accurately measuring the moisture level in 
                        the soil, these sensors can also help conserve water by only watering when necessary.
                        Some smart watering systems incorporate humidity sensors along with other types of sensors, such as temperature and light sensors, 
                        to create a comprehensive picture of the plant's environment. This data can be used to adjust watering schedules and amounts to 
                        nsure optimal growing conditions.
                        Overall, incorporating a humidity sensor into a smart outdoor watering system can help ensure that plants receive the appropriate 
                        amount of water, which can lead to healthier plants and more efficient water usage.</p>
                    

                </div>

                <div class="card card2">
                    <h5> Soil Moisture</h5>
                    <p class="caption">
                        Soil moisture is a critical factor in plant health, and a smart outdoor watering system can help ensure that plants receive the right 
                        amount of water by monitoring soil moisture levels. Soil moisture sensors are typically buried in the soil, where they can measure the 
                        moisture content at the root level. These sensors can communicate with the watering system, which can then adjust the watering schedule 
                        and amount accordingly. By using soil moisture sensors, a smart watering system can prevent both overwatering and underwatering, which 
                        an lead to root rot and other issues. Additionally, using these sensors can help conserve water by ensuring that the system only waters 
                        when necessary. Overall, incorporating soil moisture sensors into a smart outdoor watering system can help promote healthy plant growth 
                        and efficient water usage.
                    </p>
                    

                </div>

                <div class="card card3">
                    <h5>Temperature</h5>
                    <p class="caption">
                        temparature sensor measures the outdoor enviroment where plants are located .We measure temperature because we know how temperature affects plants health and growth.<br />
                        Extreme temperature causes plant to have dehydration by monitoring the temperature the sensor helps assees Whether the plants are exposed to unfavorable conditions enabling appropriate adjustments to watering schedule
            
                    </p>
                    

                </div>
                
                <div class="card card4">
                    <h5>Water levels sensors</h5>
                    <p class="caption">
                        our water level sensor is a device that is used to measure and monitor the level of water in a tank, reservoir, or any other water storage system. It provides real-time information about the water level, allowing for efficient management and control of water resources
                    </p>
                    

            </div>

    
</body>
</html>